# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.build/
.dart_tool/
.pub/
.idea/
.vscode/
*.iml
*.lock
*.log
*.pid
*.pubspec.yaml
*.flutter-plugins
build/
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/local.properties
android/app/key.properties
android/gradlew
android/gradlew.bat
android/build/
ios/Flutter/Flutter.xcworkspace/xcuserdata/
ios/Flutter/AppFrameworkInfo.plist
macos/Flutter/Flutter.xcodeproj/xcuserdata/
macos/Pods/
macos/.generated/
web/build/
web/packages/
web/*.dart.js
web/*.dart.js.map
web/*.dart.js.deps
web/*.dart.js_1.part
web/*.dart.js_2.part
web/*.dart.js_3.part
web/*.dart.js_4.part
web/*.dart.js_5.part
web/*.dart.js_6.part
web/*.dart.js_7.part
web/*.dart.js_8.part
web/*.dart.js_9.part
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz4
*.tar.sz
*.tar.zst
*.tar
*.zip
*.iso
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz4
*.tar.sz
*.tar.zst
*.zip
*.rar
*.tar
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz4
*.tar.sz
*.tar.zst
*.zip
*.gz
*.xz
*.bz2
*.lz4
*.sz
*.zst
*.dill
*.gen_snapshot
*.temp
*.ds_store
*.tmp
*.tmp.*
*.swp
*.Lock
.DS_Store
*.class
*.jar
*.apk
*.aar
*.war
*.ear
*.log
*.iml
.idea/
gradle/
build/
.gradle/
local.properties
*.class
*.jar
*.war
*.ear
target/
node_modules/
web/node_modules/
.DS_Store
.gradle
gradle-wrapper.properties
.idea/
*.class
*.log
*.iml
*.arj
*.rar
*.zip
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz4
*.tar.sz
*.tar.zst
*.7z
*.iso
*.dmg
*.ipa
*.apk
*.exe
*.dll
*.so
*.dylib
*.mdb
*.ds_store
*.tmp
*.temp
*.hprof
hs_err_pid*
